<aside class="flex h-screen w-16 flex-col items-center gap-4 bg-neutral py-4">
  <!-- Top sidebar icons -->
  <% sidebar_items = [
    { icon: "visibility", path: "" },
    { icon: "notifications", path: "" },
    { icon: "dashboard", path: "" },
    { icon: "home", path: app_root_path },
    { icon: "group", path: app_users_management_index_path },
    { icon: "upload", path: "" }
  ] %>

  <% sidebar_items.each do |item| %>
    <% active = current_page?(item[:path]) %>
    <%= link_to item[:path] do %>
      <div class="flex flex-col items-center justify-center hover:bg-white/10 hover:text-white rounded-lg">
        <span class="material-symbols-outlined p-2 <%= active ? 'text-white bg-primary rounded-lg' : 'text-white/70' %>" style="font-size: 24px;">
          <%= item[:icon] %>
        </span>
      </div>
    <% end %>
  <% end %>

  <!-- Down sidebar icons -->
  <div class="mt-auto dropdown dropdown-right dropdown-end">
    <!-- Trigger button -->
    <div
      tabindex="0"
      role="button"
      class="flex size-10 items-center justify-center rounded-lg transition-colors hover:cursor-pointer focus:bg-white/10 focus:text-white <%= current_page?(edit_app_profile_path) ? 'text-white bg-primary rounded-lg' : 'text-white/70 hover:bg-white/10 hover:text-white' %>"
    >
      <span class="material-symbols-outlined text-2xl">account_circle</span>
    </div>

    <!-- Dropdown content -->
    <%= render "shared/user_menu" %>
  </div>


  <div class="flex flex-col items-center justify-center">
    <span class="material-symbols-outlined text-white/70 p-2" style="font-size: 24px;">settings</span>
  </div>
</aside>
